.ant-form-item.ant-form-item-contenteditable {
  margin-bottom: 0;
}

.ant-form-contenteditable:not(.ant-form-contenteditable-disabled):hover:not(:focus) {
  background-color: #F8F8F8;
  cursor: pointer;
  transition: .3s linear background-color;
}

.ant-form-daterange {
  width: 100%;
}

.ant-form-on-place-edit-field-value {
  width: 100%
}

.ant-form-on-place-edit-field-value:hover:not(:focus) {
  background-color: #F8F8F8;
  cursor: pointer;
  transition: .3s linear background-color;
}

.ant-form-on-place-edit-field-actions {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  margin-top: -24px;
}