.ant-form-item.ant-form-item-contenteditable {
  margin-bottom: 0;
}

.ant-form-contenteditable:hover:not(:focus) {
  background-color: #F8F8F8;
  cursor: pointer;
  transition: .3s linear background-color;
}
